.left {
    text-align: left;
}

.reveal i { font-family: FontAwesome; }    
.fa { font-family: FontAwesome !important; display: block; }  

.inline { display: inline; }

.xmpp-orange { color: #e96d1f; }
.xmpp-blue { color: #29aae1; }
.xmpp-green { color: #8bc53e; }